.App {
  text-align: center;
   overflow-y:auto;
}

.main{
 margin:auto;
 margin-top:50px;
 box-sizing:border-box;
  display:flex;
  padding:10px;
  height:90vh;
  justify-content: center;
 margin-bottom:5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
